<h1>Ciphers</h1>

<p>Some very simple, basic encryption tools. Please don't actually use these to encrypt your sensitive information, or if you do, don't blame me when someone breaks it and leaks it to the world.</p>
<!-- <p><a routerLink="/caesar">Caesar Cipher</a></p>
<p><a routerLink="/passphrase">Passphrase</a></p> -->

<div class="row">
    <div class="card-body card bg-light btn btn-light mt-3" routerLink="/cipher/caesar">
        <h5 class="card-title">Caesar Cipher</h5>
    </div>
    <div class="card-body card bg-light btn btn-light mt-3"  routerLink="/cipher/passphrase">
        <h5 class="card-title">Passphrase</h5>
    </div>
</div>

<hr>

<a routerLink="" class="btn btn-dark">Back to main</a>