/* td, th {
    width: 20rem;
} */

.assignmentColumn {
    width: 350px;
}

.assignmentDueDateColumn, .assignmentTypeColumn {
    width: 250px;
}

tr:nth-child(even){
    background-color: rgb(223, 223, 223);
}