<div *ngIf="(smSvc.currentUser$ | async) as user">
    <div>
        <app-navbar ></app-navbar>

        <div class="tab-content">
            <div id="home" *ngIf="viewTab=='home'">
                <h3>Home</h3>
                <p>Staff Main Page</p>
            </div>
            <div id="menu1" *ngIf="viewTab=='newStudent'">
                <app-add-student></app-add-student>
            </div>
            <div id="menu2" *ngIf="viewTab=='myContact'">
                <app-profile-page></app-profile-page>
            </div>
        </div>
    </div>
    <div>
        <p><a class="btn btn-dark" (click)="logout()">Logout</a></p>
    </div>

</div>