<h1>Coding Havoc / Monolith Main</h1>
<p>Welcome to the Monolith! A crude collection of various Angular and Spring based applications, or links to other applications that I have built showing off some of my coding skills. None of these are extremely elaborate but they are some simple things I was able to think of that showcase some of my coding experience.</p>
<hr>
<p>Due to an issue with the main starting page for my online portfolio, I'm working on shifting some of that content over to this site until everything is working again.</p>

<div class="row">
    <div class="card-body card bg-light btn btn-light mt-3" routerLink="/cipher">
        <h5 class="card-title">Cipher</h5>
        <p class="card-text">A collection of encryption ciphers I've written based on basic encryption methods</p>
    </div>
    <div class="card-body card bg-light btn btn-light mt-3" routerLink="/mmdb">
        <h5 class="card-title">My Movie Database</h5>
        <p class="card-text">A very basic application displaying information about movies that I own</p>
    </div>
    <div class="card-body card bg-light btn btn-light mt-3" routerLink="/listManager">
        <h5 class="card-title">List Manager</h5>
        <p class="card-text">A fairly simple concept application that allows users to create and track various lists (gift ideas, packing lists, grocery lists, to-do lists, etc)</p>
    </div>
</div>