<h3><a routerLink="/cipher" class="btn btn-dark">Cipher</a>->Passphrase</h3>
<hr>
<form [formGroup]="passphraseForm" name="passphraseForm">
    <div>
        <p>Enter the message you want to encrypt or decrypt:</p>
        <textarea rows="2" cols="50" id="message" name="message" formControlName="message" required class="form-control" ng-model="passphraseForm.message"></textarea>
    </div>
    <hr>
    <div>
        <p>Enter the pass phrase you would like to use to encrypt or decrypt your message:</p>
        <textarea rows="2" cols="50" id="passphrase" name="passphrase" formControlName="passphrase" required class="form-control" 
        ng-model="passphraseForm.passphrase"></textarea>
    </div>
    <hr>
    <button type="submit" (click)="encrypt()" [disabled]="!passphraseForm.valid">Encrypt</button>
    <button type="submit" (click)="decrypt()" [disabled]="!passphraseForm.valid">Decrypt</button>
</form>
<hr>
<div *ngIf="!showExplained; else display">
    <button (click)="showExplanation(true)">Explain how this PassPhrase Cipher works</button>
</div>
<ng-template #display>
    <h2>PassPhrase Cipher Explained</h2>
    <button (click)="showExplanation(false)">Hide the explanation</button>
    <app-passphrase-explained></app-passphrase-explained>
    <button (click)="showExplanation(false)">Hide the explanation</button>
</ng-template>
<hr>
<a routerLink="" class="btn btn-dark">Back to main</a>