<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <!--Add 'fixed-top' to class list to make this nav bar the main nav bar-->
    <div class="container">
        <a class="navbar-brand" [ngClass]="{'active':viewSelector=='main'}" (click)="setTabView('main')">School
            Manager</a>
        <ul *ngIf="smUserSvc.currentUser$| async" class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active':viewSelector=='home'}" (click)="setTabView('home')">User
                    Page</a>
            </li>
            <div class="dropdown" dropdown *ngIf="checkUserPermission('TEACHER')">
                <a class="nav-link dropdown-toggle text-decoration-none"
                    [ngClass]="{'active':viewSelector==('add-assignments'|| viewSelector=='view-assignments')}"
                    dropdownToggle>Assignments</a>
                <div class="dropdown-menu" *dropdownMenu>
                    <a class="dropdown-item" [ngClass]="{'active':viewSelector=='add-assignments'}"
                        (click)="setTabView('add-assignments')">Add Assignments</a>
                    <a class="dropdown-item" [ngClass]="{'active':viewSelector=='view-assignments'}"
                        (click)="setTabView('view-assignments')">View Assignments</a>
                </div>
            </div>
            <!--Student dropdown: 
                parent and primary roles need to view and enroll students
                staff need to view all students
                teachers need to view students enrolled in their course(s)
                students do not need this
            -->
            <div class="dropdown" dropdown *ngIf="!checkUserPermission('STUDENT')">
                <a class="nav-link dropdown-toggle text-decoration-none"
                    [ngClass]="{'active':viewSelector==('add-assignments'|| viewSelector=='view-assignments')}"
                    dropdownToggle>Students</a>
                <div class="dropdown-menu" *dropdownMenu>
                    <a class="dropdown-item" *ngIf="checkUserPermission('ADMIN')"
                        [ngClass]="{'active':viewSelector=='assign-student'}"
                        (click)="setTabView('assign-student')">Assign Students</a>
                    <!--parent and primary only-->
                    <a class="dropdown-item" *ngIf="checkUserPermission('PARENT') || checkUserPermission('PRIMARY')"
                        [ngClass]="{'active':viewSelector=='enrollStudent'}"
                        (click)="setTabView('enrollStudent')">Enroll Student</a>
                    <!--all-->
                    <a class="dropdown-item" [ngClass]="{'active':viewSelector=='viewStudents'}"
                        (click)="setTabView('viewStudents')">View Students</a>
                </div>
            </div>
            <li class="nav-item" *ngIf="loggedInRole=='STUDENT' || loggedInRole=='PARENT'">
                <a class="nav-link" [ngClass]="{'active':viewSelector=='view-assignments'}"
                    (click)="setTabView('view-assignments')">View Assignments</a>
            </li>
            <div class="dropdown" dropdown *ngIf="checkUserPermission('ADMIN')">
                <a class="nav-link dropdown-toggle text-decoration-none"
                    [ngClass]="{'active':viewSelector==('newUser'|| viewSelector=='view-users')}"
                    dropdownToggle>Users</a>
                <div class="dropdown-menu" *dropdownMenu>
                    <a class="dropdown-item" [ngClass]="{'active':viewSelector=='newUser'}"
                        (click)="setTabView('newUser')">New User</a>
                    <a class="dropdown-item" [ngClass]="{'active':viewSelector=='view-users'}"
                        (click)="setTabView('view-users')">View Users</a>
                    <a class="dropdown-item" [ngClass]="{'active':viewSelector=='unverifiedUsers'}"
                        (click)="setTabView('unverifiedUsers')">View Unverified Users</a>
                </div>
            </div>
            <!-- <div class="dropdown" dropdown *ngIf="checkUserPermission('ADMIN')">
                <a class="nav-link dropdown-toggle text-decoration-none"
                    [ngClass]="{'active':viewSelector==('assign-student')}" dropdownToggle>Students</a>
                <div class="dropdown-menu" *dropdownMenu>
                    <a class="dropdown-item" [ngClass]="{'active':viewSelector=='assign-student'}"
                        (click)="setTabView('assign-student')">Assign Students</a>
                </div>
            </div> -->
            <div>
                <li class="nav-item" *ngIf="checkUserPermission('TEACHER') || checkUserPermission('ADMIN')">
                    <a class="nav-link" [ngClass]="{'active':viewSelector=='absences'}"
                        (click)="setTabView('absences')">Absences</a>
                </li>
            </div>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active':viewSelector=='myContact'}"
                    (click)="setTabView('myContact')">My Contact</a>
            </li>
        </ul>
        <form *ngIf="!(smUserSvc.currentUser$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()"
            autocomplete="off">
            <input class="form-control me-2" type="text" placeholder="Username" name="username"
                [(ngModel)]="loginReqDTO.username">
            <input class="form-control me-2" type="password" placeholder="Password" name="password"
                [(ngModel)]="loginReqDTO.password">
            <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
        <div class="dropdown" *ngIf="(smUserSvc.currentUser$ | async) as user" dropdown>
            <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>Welcome {{ user.firstName }}</a>
            <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item" [ngClass]="{'active':viewSelector=='myContact'}"
                    (click)="setTabView('myContact')">Edit Profile</a>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>
    </div>
</nav>