<div *ngIf="(smSvc.currentUser$ | async) as user">
    <div>
        <app-navbar [loggedInRole]="userRole" (viewEmitter)="setTabView($event)"></app-navbar>

        <div class="tab-content">
            <div id="home" *ngIf="viewTab=='home'">
                <h3>Home</h3>
                <p>Teacher Main Page</p>
            </div>
            <div id="menu1" *ngIf="viewTab=='add-assignments' && userRole=='TEACHER'">
                <h3>Assignments</h3>
                <app-add-assignments></app-add-assignments>
            </div>
            <div id="menu2" *ngIf="viewTab=='absences' && (userRole=='TEACHER' || userRole=='STAFF')">
                <app-absence-submit-page></app-absence-submit-page>
            </div>
            <div id="menu3" *ngIf="viewTab=='myContact'">
                <app-profile-page></app-profile-page>
            </div>
            <div id="menu4" *ngIf="viewTab=='view-assignments' && (userRole=='TEACHER' || userRole=='STUDENT')">
                <app-view-assignments></app-view-assignments>
            </div>
            <div id="menu5" *ngIf="viewTab=='newStudent' && userRole=='STAFF'">
                <app-add-student></app-add-student>
            </div>
        </div>
    </div>
    <div>
        <p><a class="btn btn-dark" (click)="logout()">Logout</a></p>
    </div>

</div>