<h2>{{groupTitle}}</h2>
<table>
    <tr>
        <th>Assignment Title</th>
        <th><span>
            <i *ngIf="sortFlag=='asc'" class="bi bi-arrow-up" (click)="sortDueDateAsc()"></i>
            <i *ngIf="sortFlag=='desc'" class="bi bi-arrow-down" (click)="sortDueDateDesc()"></i>
        </span>Due Date</th>
    </tr>
    <tr *ngFor="let assignment of assignmentList">
        <td>{{ assignment.assignmentTitle }}</td>
        <td>{{ assignment.assignmentDueDate }}</td>
        <td><button class="btn btn-primary">Assign to all students</button></td>
    </tr>
</table>