<h2>{{groupTitle}}</h2>
<table>
    <tr>
        <th class="assignmentColumn">Assignment Title</th>
        <th class="assignmentDueDateColumn"><span>
            <i *ngIf="sortFlag=='asc'" class="bi bi-arrow-up" (click)="sortDueDateAsc()"></i>
            <i *ngIf="sortFlag=='desc'" class="bi bi-arrow-down" (click)="sortDueDateDesc()"></i>
        </span>Due Date</th>
    </tr>
    <tr *ngFor="let assignment of assignmentList">
        <td>{{ assignment.assignmentTitle }}</td>
        <td>{{ assignment.assignmentDueDate }}</td>
        <td *ngIf="groupTitle!='Selected'"><button class="btn btn-primary" (click)="selectAssignment(assignment)">Select Assignment</button></td>
        <td *ngIf="groupTitle=='Selected'"><button class="btn btn-primary" (click)="removeSelectedAssignment(assignment)">Remove Assignment</button></td>
    </tr>
</table>