<div class="container">
    <form [formGroup]="assignmentForm" (ngSubmit)="onSubmit()">
            <input type="hidden" id="teacher_id" name="teacher_id" formControlName="teacher_id" class="form-control">

        <table class="table table-bordered" formArrayName="assignments">
            <tr>
                <th colspan="2">Add Multiple Assignments</th>
                <th width="150px"><button type="button" (click)="addAssignment()" class="btn btn-primary"
                        style="background-color: blue; color: white;" [disabled]="!assignmentForm.valid">Add New
                        Row</button></th>
            </tr>
            <tr>
                <td>Assignment Title:</td>
                <td>Assignment Type:</td>
            </tr>
            <tr *ngFor="let assignment of assignments().controls; let i=index" [formGroupName]="i">
                <td>
                    <input type="text" formControlName="assignmentTitle" class="form-control">
                </td>
                <td>
                    <!-- <input type="text" formControlName="assignmentType" class="form-control"> -->
                    <select id="assignmentType" name="assignmentType" formControlName="assignmentType" class="form-control">
                        <option value="HOMEWORK">Homework</option>
                        <option value="QUIZ">Quiz</option>
                        <option value="TEST">Test</option>
                    </select>
                </td>
                <td>
                    <button (click)="removeAssignment(i)" class="btn btn-danger"
                        style="background-color: red; color: white;">Remove</button>
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-success" [disabled]="!assignmentForm.valid">Submit</button>
    </form>
    <hr>
    <p>This will go away after I check that submitting assignments from this form actually works</p>
    {{this.assignmentForm.value | json}}
</div>