<div class="card text-center">
  <div class="card-header">
    <form #loginForm="ngForm">
      <div class="form-group">
        <label for="username">User Name <i *ngIf="usernameRequiredWarning" style="color: red;">*User name is required*</i></label>
        <input type="text" class="form-control" id="username" aria-describedby="username"
        placeholder="Enter user name" [(ngModel)]="loginReqDTO.username" name="username">
      </div>
      <div class="form-group">
        <label for="password">Password <i *ngIf="passwordRequiredWarning" style="color: red;">*User name is required*</i></label>
        <input type="password" class="form-control" id="password" aria-describedby="password"
        placeholder="Password" [(ngModel)]="loginReqDTO.password" name="password">
      </div>
      <div *ngIf="invalidLoginCredentials">
        <p style="color: red;"><i>Invalid Login Credentials</i></p>
      </div>
      <a class="btn btn-primary" (click)="login()">Login</a>
    </form>
  </div>
</div>
<hr>
<p><a routerLink="/schoolManager/main">Back to school manager main</a></p>
<p><a routerLink="/schoolManager/addAssignment">Add Assignment page</a></p>
<p><a routerLink="/schoolManager/userPage">User Page</a></p>