<ng-container>
    <button class="vsbc-sort-button">Sort by Teacher Last Name</button>
    <button class="vsbc-sort-button">Sort by Course Name</button>
    <button class="vsbc-sort-button">Sort by Number of Enrolled Students</button>
    <div ngbAccordion [closeOthers]="true">
        <div ngbAccordionItem *ngFor="let dto of fullCourseDetailList">
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>{{teacherInfoString(dto)}}</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <div *ngIf="dto.students.length==0">
                            <h4>No students enrolled for this course</h4>
                        </div>
                        <div *ngIf="dto.students.length>0">
                            <app-view-students-sub [students]="dto.students" [count]="dto.students.length" ></app-view-students-sub>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</ng-container>