td, th {
    width: 15rem;
}

tr:nth-child(even){
    background-color: rgb(223, 223, 223);
}

/* add new styles to clean up the table
    - period does not need such a huge width, maybe a darker background on the 
    git scurrent schedule section but not the select a course section
*/