<h1>Assign students to courses</h1>
<p>On the final version, only one of these components would appear. No need to have the k-6 version
    on a high school version</p>
<button (click)="showManyStudentsToOneCourse()">K-6 - Multiple students to one course</button>
<button (click)="showOneStudentToManyCourses()">7-12 - One student to multiple courses</button>

<div *ngIf="manyStudentsToOneCourse">
    <app-assign-students-course></app-assign-students-course>
</div>

<div *ngIf="oneStudentToManyCourses">
    <app-assign-student-courses></app-assign-student-courses>
</div>