<h2>Come back to this after finishing the base registration</h2>
<form class="form-inline" [formGroup]="testForm">
    <div>
        <label>Grade Select</label>
        <select formControlName="gradeSelect" name="gradeSelect">
            <option value="default">-----</option>
            <option *ngFor="let lvl of [].constructor(12); let i = index" [value]="i+1">{{i+1}}</option>
        </select>
        <button class="btn btn-success" (click)="buildStudentList()">Select Grade</button>
    </div>
    <!--Student select drop down; need to create an end point that will get students that are not associated with a teacher-->
    <div *ngIf="!selMultiStudent">
        <label>Available Students</label>
        <select formControlName="studentSelect" name="studentSelect" >
            <option value="default">-----</option>
            <option *ngFor="let student of studentList" [value]="student.userId">{{student.firstName}} {{student.lastName}}</option>
        </select>
    </div>
    <div *ngIf="selMultiStudent">
        <label>Available Students - Multiple</label>
        <select formControlName="studentSelect" name="studentMultipleSelect" multiple>
            <option value="default">-----</option>
            <option *ngFor="let student of studentList" [value]="student.userId">{{student.firstName}} {{student.lastName}}</option>
        </select>
    </div>

    <!--Teacher select drop down-->
    <div *ngIf="!selMultiTeacher">
        <label>Available Teachers</label>
        <select formControlName="teacherSelect" name="teacherSelect" >
            <option value="default">-----</option>
            <option *ngFor="let teacher of teacherList" [value]="teacher.userId">{{teacher.firstName}} {{teacher.lastName}}</option>
        </select>
    </div>
    <div *ngIf="selMultiTeacher">
        <label>Available Teachers - Multiple</label>
        <select formControlName="teacherSelect" name="teacherMultipleSelect" multiple>
            <option value="default">-----</option>
            <option *ngFor="let teacher of teacherList" [value]="teacher.userId">{{teacher.firstName}} {{teacher.lastName}}</option>
        </select>
    </div>
    <button (click)="submitForm()">Activate the doomsday machine</button>
</form>
<hr>