<h2>{{listInfo.listName}}</h2>
<p *ngIf="listInfo.listNotes!=''">{{listInfo.listNotes}}</p>
<div class="card bg-light mt-3"
    *ngFor="let item of listInfo.listItems">
    <div class="p-4">
        <h3><span *ngIf="listInfo.ordered">{{item.orderPosition}}. </span>
            <span *ngIf="item.quantity>0">{{item.quantity}} - </span>
            {{item.itemName}}</h3>
        <p *ngIf="item.itemNotes!=''"><span><b>Notes: </b>{{item.itemNotes}}</span></p>
    </div>
</div>

<a href="#" class="btn btn-success mt-3" routerLink="/listManager/listPage">Go Back to Lists</a>
<app-logout-button></app-logout-button>