<!--Change this into a modal. User would make changes, changes would get saved to database, then
an emit would call back to the list-detail comp to rebuild the list-->

<a class="btn btn-success" (click)="showEditForm(content)">Edit Item</a>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit Item</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('close')"></button>
    </div>
    <form #itemForm="ngForm">
        <div class="form-group mt-3">
            <label class="form-label" for="itemName">Item Name</label>
            <input type="text" class="form-control" id="itemName" name="itemName" [(ngModel)]="itemDto.itemName">
        </div>
        <!-- <div class="form-group mt-3">
                    <label class="form-label" for="quantity">Quantity</label>
                    <input type="text" class="form-control" id="quantity" name="quantity"
                    formControlName="quantity">
                </div> -->
        <div class="form-group mt-3">
            <label class="form-label" for="orderPosition">Order Position</label>
            <input type="text" class="form-control" id="orderPosition" name="orderPosition" [(ngModel)]="itemDto.orderPosition">
        </div>
        <div class="form-group mt-3">
            <label class="form-label" for="itemNotes">Item Notes</label>
            <textarea type="text" class="form-control" id="itemNotes" name="itemNotes"
            [(ngModel)]="itemDto.itemNotes"></textarea>
        </div>
        <div>
            <a class="btn btn-primary m-3" (click)="modal.close('save')">Save</a>
        </div>
    </form>
</ng-template>