<h1>Monolith Main</h1>
<p>Welcome to the Monolith! A crude collection of various Angular and Spring based applications, or links to other applications that I have built showing off some of my coding skills. None of these are extremely elaborate but they are some simple things I was able to think of that showcase some of my coding experience.</p>
<hr>
<!-- <ul>
    <li><a routerLink="/cipher">Cipher</a> is a collection of encryption ciphers I've written based on basic encryption methods</li>
    <li><a routerLink="/mmdb">My Movie Database</a> is a very basic application displaying information about movies that I own</li>
</ul> -->

<div class="row">
    <div class="card-body card bg-light btn btn-light mt-3" routerLink="/cipher">
        <h5 class="card-title">Cipher</h5>
        <p class="card-text">A collection of encryption ciphers I've written based on basic encryption methods</p>
    </div>
    <div class="card-body card bg-light btn btn-light mt-3" (click)="loadMMDBMain()">
        <h5 class="card-title">My Movie Database</h5>
        <p class="card-text">A very basic application displaying information about movies that I own</p>
    </div>
</div>