<div *ngIf="showCourseTable">
    <label for="gradeSelect">Grade Select</label>
    <select [(ngModel)]="gradeSelect" id="gradeSelect" name="gradeSelect">
        <option value="default">-----</option>
        <option *ngFor="let grade of grades;">{{grade}}</option>
    </select>
    <button (click)="buildStudentList()">Select Grade</button>
    <hr>
    <h2>Select a Course</h2>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Teacher Name</th>
            <th><button (click)="removeCourseSelect()" [disabled]="courseSelect==0">Remove Course Select</button></th>
        </tr>
        <tr *ngFor="let course of courseList">
            <td>{{course.courseName}}</td>
            <td>{{course.teacherFirstName}} {{course.teacherLastName}}</td>
            <td><button (click)="selectCourse(course)" [disabled]="courseSelect>0">Select Course</button></td>
        </tr>
    </table>
</div>

<!--these two table could be combined into one with the if statement moved into the table instead of sitting
on the div:
    - the Select/Remove all button
    - the selected course information
    - which list to build from
-->
<div *ngIf="showSelectTable">
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Grade Level</th>
            <th><button class="btn btn-success" (click)="selectAll()">Select all</button></th>
        </tr>
        <tr *ngFor="let student of studentList">
            <td>{{ student.firstName }}</td>
            <td>{{ student.lastName }}</td>
            <td>{{ student.gradeLevel }}</td>
            <td><button (click)="addStudentToWorkingList(student)"
                    [disabled]="checkWorkingList(student)">Enroll</button></td>
        </tr>
    </table>
</div>
<div *ngIf="showConfirmTable">
    <h2>Selected Course Information</h2>
    <h3>{{courseDetail!.courseName}} - {{courseDetail!.teacherFirstName}} {{courseDetail!.teacherLastName}}</h3>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Grade Level</th>
            <th><button class="btn btn-success" (click)="removeAll()">Remove all</button></th>
        </tr>
        <tr *ngFor="let student of workingList">
            <td>{{ student.firstName }}</td>
            <td>{{ student.lastName }}</td>
            <td>{{ student.gradeLevel }}</td>
            <td><button (click)="removeFromWorkingList(student)">Remove</button></td>
        </tr>
    </table>
</div>
<!-- <hr> -->
<button *ngIf="showCourseTable" class="btn btn-success"
    [disabled]="this.courseSelect == 0 || this.studentList.length == 0" (click)="moveToSelect()">Select
    Students</button>
<button *ngIf="showSelectTable" class="btn btn-success" (click)="returnToCourseSelect()">Back to Course
    Selection</button>
<button *ngIf="showConfirmTable" class="btn btn-success" (click)="returnToStudentSelect()">Back to Student
    Selection</button>
<button *ngIf="showSelectTable" class="btn btn-success" [disabled]="this.workingList.length == 0"
    (click)="moveToConfirm()">Confirm Selection</button>
<button *ngIf="showConfirmTable" class="btn btn-warning" (click)="submit()">Confirm</button>