<h1>Test</h1>
<!--This is the home component in the video-->
<!-- <app-nav-test [roleInNav]="roleFromParent" (viewTabTest)="setTabView($event)"></app-nav-test> -->
<div ngbAccordion [closeOthers]="true">
	<div ngbAccordionItem *ngFor="let course of courseList">
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>{{ course.courseName }}</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
					{{course.period}}
				</ng-template>
			</div>
		</div>
	</div>
</div>