<h1>Test</h1>
<div ngbAccordion [closeOthers]="true">
    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Course 1</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <table>
                    <tr>
                        <th style="width: 480px;">Student</th>
                        <th class="gradeColumn">Homework</th>
                        <th class="gradeColumn">Quiz</th>
                        <th class="gradeColumn">Report</th>
                        <th class="gradeColumn">Test</th>
                        <th class="gradeColumn">Overall</th>
                    </tr>
                    <tr>
                        <td>Martholomew Christensen</td>
                        <td class="gradeColumnData">99.5</td>
                        <td class="gradeColumnData">99.5</td>
                        <td class="gradeColumnData">99.5</td>
                        <td class="gradeColumnData">99.5</td>
                        <td class="gradeColumnData">99.0</td>
                    </tr>
                    <tr>
                        <td>Martholomew Christensen</td>
                        <td class="gradeColumnData">99.5</td>
                        <td class="gradeColumnData">99.5</td>
                        <td class="gradeColumnData">99.5</td>
                        <td class="gradeColumnData">99.5</td>
                        <td class="gradeColumnData">99.0</td>
                    </tr>
                    <tr>
                        <td>Martholomew Christensen</td>
                        <td class="gradeColumnData">99.5</td>
                        <td class="gradeColumnData">99.5</td>
                        <td class="gradeColumnData">99.5</td>
                        <td class="gradeColumnData">99.5</td>
                        <td class="gradeColumnData">99.0</td>
                    </tr>
                    <tr>
                        <td>Martholomew Christensen</td>
                        <td class="gradeColumnData">99.5</td>
                        <td class="gradeColumnData">99.5</td>
                        <td class="gradeColumnData">99.5</td>
                        <td class="gradeColumnData">99.5</td>
                        <td class="gradeColumnData">99.0</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>