<!-- <app-navbar></app-navbar> -->
<div>
    <app-navbar></app-navbar>
    <h2>School Manager Main Page</h2>
    <p>This is my idea of a single source portal for parents, students, teachers, school admin staff for managing grades, attendance and contact information. More features may be added as I'm working on this</p>

    <div *ngIf="!(smSvc.currentUser$ | async)">
        <p><a class="btn btn-dark btn-login" routerLink="/schoolManager/login">Login page</a></p>
    </div>
    <!--Disabling these for now. The assignment page will get added to the staff at some point. The User page will become a link in the nav bar-->
    <!-- <p><a routerLink="/schoolManager/addAssignment">Add Assignment page</a></p>
    <p><a routerLink="/schoolManager/userPage">User Page</a> - This link should bring you back here unless you are logged in</p> -->
    <div *ngIf="(smSvc.currentUser$ | async)">
        <p><a class="btn btn-dark btn-login" (click)="logout()">Logout</a></p>
    </div>
</div>