<!--Notes for this page:
- for each item, need a delete button to remove the item
- basic: need input fields for item name, quantity and notes
- need to plan for how to handle the ordered check box and showing/hiding the order position column
- when ordered is checked, need a validator to make sure that no two values are repeated and that values are greater than 0
    - give users the option to set postion to whatever they want
        - this would update the order of the list each time the user makes changes to the list since the backend is getting the items
            by postion asc
    - OR force an ascending order (1, 2, 3, n...), NO descending order (99, 98, 97, n...)
        - this would require a complex check of making sure there are no 0s, only one of each number starting at 1 and going to the length
            of the list and making sure that no number is skipped
        - a great example of data intensive search algorithms; definitely not recommended for larger lists
-->
<!--
    public Long listItemId; - hidden
    public Long listId; - hidden
    public String itemName;
    public Long quantity;
    public Long orderPosition;
    public String itemNotes;
-->
<form [formGroup]="itemForm">
    <div formArrayName="items">
        <div *ngFor="let item of items().controls; let i=index"[formGroupName]="i">
            <div class="form-group mt-3">
                <label class="form-label" for="itemName">Item Name</label>
                <input type="text" class="form-control" id="itemName" name="itemName"
                formControlName="itemName">
            </div>
            <!-- <div class="form-group mt-3">
                <label class="form-label" for="quantity">Quantity</label>
                <input type="text" class="form-control" id="quantity" name="quantity"
                formControlName="quantity">
            </div> -->
            <div class="form-group mt-3">
                <label class="form-label" for="orderPosition">Order Position</label>
                <input type="text" class="form-control" id="orderPosition" name="orderPosition"
                formControlName="orderPosition">
            </div>
            <div class="form-group mt-3">
                <label class="form-label" for="itemNotes">Item Notes</label>
                <textarea type="text" class="form-control" id="itemNotes" name="itemNotes"
                formControlName="itemNotes"></textarea>
            </div>
            <hr>
        </div>
        <div>
            <a style="width: 25%;" class="btn btn-success m-3" (click)="addItem()">Add another item</a>
            <a style="width: 25%;" class="btn btn-primary m-3" (click)="submit()">Submit</a>
            <a style="width: 25%;" class="btn btn-primary m-3" (click)="returnToList()">Discard and Return to List</a>
        </div>
    </div>
</form>