<p>view-assignments works!</p>
<!--Plan for multipurpose:
- Teacher version shows assignments the teacher has created
- Student version shows assignments assigned to them and grades
- Parent version would be similar to Student version but would should all students associated with them-->
<div *ngIf="smSvc.roleView=='TEACHER'">
    <p>Teacher Version</p>
</div>
<div *ngIf="smSvc.roleView=='STUDENT'">
    <p>Student version</p>
</div>
<div *ngIf="smSvc.roleView=='PARENT'">
    <p>Parent version</p>
</div>


